numpy==1.26.4
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
psycopg2-binary
python-dotenv
gunicorn
uv
werkzeug
pyjwt
Babel
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers[torch]
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
python-json-logger
pytest
pytest-mock